.bg{
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-cover{
    background-size: cover;
}

.bg-banner{
    background-image: url(../images/banner.jpg);
}
.bg-subscribe{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true);
}
.bg-logo{
    background-image:url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true') ;
}
.bg-whitelogo{
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfumewhite@2x.png?raw=true');
}